h1 {
color: #b03060;
font-size: 42;
font-family: fantasy;
text-align: center;

}

.mainimage{
  text-align: center;
}
.flashy {
  color: red;
  font-style: italic;

}
p{
  text-align: center;
}


h3{
  text-align: center;
}

h2{
  text-align: center;
}
